@media screen and (min-width: 991.98px){
   .sidebar{
   
      .sidebarcontainer{
    
    
       position: sticky;
       top: 112px;
       .sidebarcontainer-fluid::-webkit-scrollbar{
          width: 0px;
     
       }
      .sidebarcontainer-fluid{
       overflow-y: scroll;
       height: 85vh;
    
       
      }
      
     
      }
       
    }
}

/* @media screen and (max-width: 991.98px){
   .sidebar{
     
   }
} */
