.footer{
    .footercontainer{
        .socialrow{
            .icon{
background-color: darkgray;
               width: 80px;
                height: 80px;
                border-radius: 50%;

                .iconimage{
                    width: 70px;
                    height: 70px;

                }
            }
        }
    }
}