.colors{
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(87, 85, 85, 0.308);

    .icon{
        cursor: pointer;
    }

  
    @keyframes myanimation {
        0% {border:3px solid red;}
        25%{border:3px solid yellow;}
        50%{border:3px solid green;}
        75%{border:3px solid brown;}
        100% {border:3px solid red;}
      }
}