.gander{
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(87, 85, 85, 0.308);

    .icon{
        cursor: pointer;
    }
    .row{
        .container{
            .row{
                .inputdiv{
                    
                    .inputbox{
                       height: 100%;
                       
                    }
                    .inputbox[type="checkbox"]{
                        accent-color: black;
                       }
                  
                }
            }
        }
    }
}